
.login-page-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  .login-form-container {
    width: 400px;
    .form-error {
      color: #f44336;
      margin: 20px 0;
      text-align: center;
    }
  }
}
