.campaign-wrapper {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
  border: solid 1px #212121;
  .campaign-counter {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-right: solid 1px #212121;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .campaign-content {
    padding: 20px;
    flex-grow: 1;
    .campaign-content-name {
      margin: 0;
    }
    .campaign-content-description {
      margin: 5px 0;
    }
    .campaign-content-actions {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      width: 100%;
      justify-content: space-between;
      .counter-action-wrapper {
        display: flex;
        flex-direction: row;
        button {
          border-radius: 50%;
          background-color: transparent;
          box-shadow: none;
          border-color: #212121;
          color: #000000;
          font-size: 25px;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: 51px;
          height: 51px;
          &:last-child {
            margin-left: 10px;
          }
        }
      }
      .crud-action-wrapper {
        display: flex;
        flex-direction: row;
        button {
          &.delete {
            background-color: #f44336;
            border-color: #f44336;
          }
          &:last-child {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
